# History & Session data files
.Rhistory
.RData

# RStudio files
.Rproj.user

# User-specific files
.Ruserdata

# Specific file formats
*.doc
*.pptx
*.xls*

# Temporary files
*.utf8.md
*.knit.md
*~
~$*.doc*
~$*.xls*
*.xlk
~$*.ppt*


# Folder
data-raw/model-raw/
docs/literature
docs/admin/
docs/manuscript
docs/presentations
model/Old
output/not_used
output/data-proc/old
output/data-proc/model-proc/Old
output/geo-proc
plots/01_description/old
plots/04_PVA/old
R/Not_used


# large files
dem_3035_crop.tif
df_StevS.rds
