# History & Session data files
.Rhistory
.RData

# RStudio files
.Rproj.user

# User-specific files
.Ruserdata

# Specific file formats
*.doc
*.html
*.png
*.pptx
*.xls*

# Temporary files
*.utf8.md
*.knit.md
*~
~$*.doc*
~$*.xls*
*.xlk
~$*.ppt*


# Folder
plots/
docs/

# large DEM file
dem_3035_crop.tif
